{% extends "base.html" %}

{% block content %}

 			 

			 
			
			<div class="row">
				 <div class="boton col-md-12">
				 <div class="title col-md-12 text-center">
						<h1><font face="Segoe UI" size="6">FORMULARIOS WEB</font></h1>
						<h1><font face="Segoe UI" size="4">A partir de ahora, DM contará con una nueva plataforma de formularios digitales, que permitirá registrar los datos de manera online. Permitiendo optimizar la gestión y administración de la información.</font></h4>
						</div>
      					  				
						

      					  <br>
           			 		
		
		
		
      					  					
					
      					  
           			 </div>
           			</div>
           			 
      
      


  
<p align="left">{% endblock %}</p>
